[user]
	email = Ross_Kirk@rapid7.com
	name = Ross Kirk
[push]
	default = current
[color]
	ui = auto
[fetch]
	prune = true
    pruneTags = true
[grep]
	lineNumber = true
[color "grep"]
    linenumber = green
    match = red bold
    filename = magenta
[diff]
	tool = meld
[difftool]
	prompt = false
[core]
	pager = less -F -X
	autocrlf = input
	fsmonitor = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[maintenance]
	repo = /Users/rkirk/src/dotfiles
	repo = /Users/rkirk/rapid7/nexpose-content
	repo = /Users/rkirk/rapid7/jess-resources
	repo = /Users/rkirk/rapid7/nexpose-r7shared
	repo = /Users/rkirk/rapid7/assessment-framework
	repo = /Users/rkirk/rapid7/assessment-bom
	repo = /Users/rkirk/rapid7/assessment-collection-specification
	repo = /Users/rkirk/rapid7/assessment-service
	repo = /Users/rkirk/rapid7/assessment-service-cucumber-data
	repo = /Users/rkirk/rapid7/assessment-service-integration
	repo = /Users/rkirk/rapid7/live-assessment-common
	repo = /Users/rkirk/rapid7/live-assessment-lib
	repo = /Users/rkirk/rapid7/tf-live-assessment
	repo = /Users/rkirk/rapid7/iservices-assessment
	repo = /Users/rkirk/rapid7/live-assessment-content-producer
	repo = /Users/rkirk/rapid7/agent-patcher-service
	repo = /Users/rkirk/rapid7/agent-data-support-tracking
	repo = /Users/rkirk/rapid7/registry-reader
	repo = /Users/rkirk/rapid7/asset-data-location-lambdas
	repo = /Users/rkirk/rapid7/mock-update-server
	repo = /Users/rkirk/rapid7/live-assessment-content-loader
	repo = /Users/rkirk/rapid7/webapp-discovery-results-service
	repo = /Users/rkirk/rapid7/kittyci-jenkins-jobs
	repo = /Users/rkirk/rapid7/asset-model
	repo = /Users/rkirk/rapid7/asset-bulk-reassessment-lambda
	repo = /Users/rkirk/rapid7/ec2-spot-price-metric-job
	repo = /Users/rkirk/rapid7/policy-command-generation-service
	repo = /Users/rkirk/rapid7/tf-content
	repo = /Users/rkirk/rapid7/ivm-scan-targets
	repo = /Users/rkirk/rapid7/assessment-results-retrieval-domain
	repo = /Users/rkirk/rapid7/support-pso-scripts
	repo = /Users/rkirk/rapid7/nexpose-console
	repo = /Users/rkirk/rapid7/live-assessment-lambdas
	repo = /Users/rkirk/rapid7/assessment-model
	repo = /Users/rkirk/rapid7/puffins
	repo = /Users/rkirk/rapid7/yggdrasil-api
	repo = /Users/rkirk/rapid7/nexpose-content-schema
	repo = /Users/rkirk/rapid7/live-assessment-content-loading-api
	repo = /Users/rkirk/rapid7/io
	repo = /Users/rkirk/rapid7/PyForensicAgent-Testing
	repo = /Users/rkirk/rapid7/tf-rad
	repo = /Users/rkirk/rapid7/PyForensicsAgent
	repo = /Users/rkirk/rapid7/assessment-result-retrieval-service
	repo = /Users/rkirk/rapid7/legacy-utilities
	repo = /Users/rkirk/rapid7/Architectures
	repo = /Users/rkirk/rapid7/nexpose-shared
	repo = /Users/rkirk/rapid7/jsch-mwiede
	repo = /Users/rkirk/rapid7/jenkins-pipelines-shared-libraries
	repo = /Users/rkirk/rapid7/assessment-core
	repo = /Users/rkirk/rapid7/live-assessment-properties
	repo = /Users/rkirk/rapid7/nexpose-js
	repo = /Users/rkirk/rapid7/policy-ingestion
	repo = /Users/rkirk/rapid7/live-assessment-pipelines
	repo = /Users/rkirk/rapid7/graphql-schemas
	repo = /Users/rkirk/rapid7/orchestrator-client
	repo = /Users/rkirk/rapid7/registry-retrieval-service
	repo = /Users/rkirk/rapid7/scap-conversion
	repo = /Users/rkirk/rapid7/smbj-rpc
	repo = /Users/rkirk/rapid7/nexpose-live-assessment-comparison
	repo = /Users/rkirk/rapid7/tf-kube-playground
	repo = /Users/rkirk/rapid7/nexpose-update-server
	repo = /Users/rkirk/rapid7/nexpose-toolchain
	repo = /Users/rkirk/rapid7/xlog-parser
	repo = /Users/rkirk/rapid7/assessment-result-lambdas
	repo = /Users/rkirk/rapid7/nexpose
	repo = /Users/rkirk/rapid7/assessment-on-demand-lambdas
	repo = /Users/rkirk/rapid7/tf-infra
	repo = /Users/rkirk/rapid7/tf-infra-karpenter
	repo = /Users/rkirk/rapid7/tf-infra-k8s-service
	repo = /Users/rkirk/rapid7/jenkins-asgard-shared-libraries
	repo = /Users/rkirk/rapid7/ea-agent-policy-assessment-scheduler-processor-service
	repo = /Users/rkirk/rapid7/vuln-tools
	repo = /Users/rkirk/rapid7/policy-scan-configuration-cache-update-lambda
	repo = /Users/rkirk/rapid7/scan-assistant
	repo = /Users/rkirk/rapid7/recog-rkirk
	repo = /Users/rkirk/rapid7/agent-asset-download-service
	repo = /Users/rkirk/rapid7/live-assessment-policy-common
	repo = /Users/rkirk/rapid7/tf-infra-k8s-primitives
	repo = /Users/rkirk/rapid7/nexpose-jenkins-jobs
	repo = /Users/rkirk/rapid7/policy-editor-service
	repo = /Users/rkirk/rapid7/assessment-results-diff
	repo = /Users/rkirk/rapid7/invisibles
	repo = /Users/rkirk/rapid7/policy-content-domain
	repo = /Users/rkirk/rapid7/remote-execution-fingerprinter
	repo = /Users/rkirk/rapid7/nexpose-export
	repo = /Users/rkirk/rapid7/rapid7-helm-charts
	repo = /Users/rkirk/rapid7/recog
	repo = /Users/rkirk/rapid7/ges-tools
	repo = /Users/rkirk/rapid7/windows-service-control
	repo = /Users/rkirk/rapid7/assessment-request-lambda-v2
	repo = /Users/rkirk/rapid7/agent-registry-assembler-lambda
	repo = /Users/rkirk/rapid7/policy-content-service
	repo = /Users/rkirk/rapid7/tf-insightvm
	repo = /Users/rkirk/rapid7/nexpose-spring-extensions
	repo = /Users/rkirk/rapid7/logsink
	repo = /Users/rkirk/rapid7/assessment-on-demand-initiator
	repo = /Users/rkirk/rapid7/platform-tools
	repo = /Users/rkirk/rapid7/jess
