[user]
	email = ross.kirk@upwind.io
	name = Ross Kirk
[push]
	default = current
[color]
	ui = auto
[fetch]
	prune = true
    pruneTags = true
[grep]
	lineNumber = true
[color "grep"]
    linenumber = green
    match = red bold
    filename = magenta
[diff]
	colorMoved = default
[difftool]
	prompt = false
[core]
	pager = delta
	autocrlf = input
	fsmonitor = true
	untrackedcache = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
	line-numbers = true
	true-color = always
	hyperlinks = true
[merge]
    conflictstyle = diff3
[maintenance]
	repo = /Users/rkirk/src/antigen
	repo = /Users/rkirk/src/dotfiles
	repo = /Users/rkirk/src/fzf-git.sh
	repo = /Users/rkirk/src/go-journalctl
	repo = /Users/rkirk/src/grype
	repo = /Users/rkirk/src/json-zsh-plugin
	repo = /Users/rkirk/src/kickstart.nvim
	repo = /Users/rkirk/src/rkirk-go-journalctl
	repo = /Users/rkirk/src/rkirk-syft
	repo = /Users/rkirk/src/syft
	repo = /Users/rkirk/upwind/agent-api
	repo = /Users/rkirk/upwind/api
	repo = /Users/rkirk/upwind/cloudscanner
	repo = /Users/rkirk/upwind/cloudscanner-devtools
	repo = /Users/rkirk/upwind/common-image-scanning-entities-java
	repo = /Users/rkirk/upwind/console-api
	repo = /Users/rkirk/upwind/engineering-devtools
	repo = /Users/rkirk/upwind/esdb-service
	repo = /Users/rkirk/upwind/frontend-monorepo
	repo = /Users/rkirk/upwind/go-common
	repo = /Users/rkirk/upwind/helm-charts
	repo = /Users/rkirk/upwind/image-scanning-core
	repo = /Users/rkirk/upwind/infra-monitoring
	repo = /Users/rkirk/upwind/infra-packer-publishing
	repo = /Users/rkirk/upwind/infra-terragrunt
	repo = /Users/rkirk/upwind/internalapis
	repo = /Users/rkirk/upwind/io-utils-java
	repo = /Users/rkirk/upwind/keys
	repo = /Users/rkirk/upwind/monolith
	repo = /Users/rkirk/upwind/production-engineering-tools
	repo = /Users/rkirk/upwind/rdb-service
	repo = /Users/rkirk/upwind/s3-auth-service
	repo = /Users/rkirk/upwind/serde-utils-java
	repo = /Users/rkirk/upwind/service-configurations
	repo = /Users/rkirk/upwind/shiftleft
	repo = /Users/rkirk/upwind/shiftleft-harbor
	repo = /Users/rkirk/upwind/upwind-agent
	repo = /Users/rkirk/upwind/upwind-agent-devtools
	repo = /Users/rkirk/upwind/upwind-aws-serverless
	repo = /Users/rkirk/upwind/vuln-scanner-s3
	repo = /Users/rkirk/upwind/vulnerabilities-scanner-v0524
	repo = /Users/rkirk/upwind/gcp-asset-collector
	repo = /Users/rkirk/upwind/common-http-java-spring
	repo = /Users/rkirk/upwind/report-processor-s3
	repo = /Users/rkirk/upwind/active-processes-receiver
	repo = /Users/rkirk/upwind/activities
	repo = /Users/rkirk/upwind/api-security-core
	repo = /Users/rkirk/upwind/api-security-ingester
	repo = /Users/rkirk/upwind/auth
	repo = /Users/rkirk/upwind/aws-integrations
	repo = /Users/rkirk/upwind/azure-logs-integration
	repo = /Users/rkirk/upwind/common-entities-java
	repo = /Users/rkirk/upwind/compliance-core
	repo = /Users/rkirk/upwind/compliance-opa
	repo = /Users/rkirk/upwind/customer-asset-collector
	repo = /Users/rkirk/upwind/detections-core
	repo = /Users/rkirk/upwind/endpoint-management-service
	repo = /Users/rkirk/upwind/endpoints-mgmt-sdk
	repo = /Users/rkirk/upwind/ingested-processes-handler
	repo = /Users/rkirk/upwind/inventory-ingester
	repo = /Users/rkirk/upwind/policy-analyzer
	repo = /Users/rkirk/upwind/workflows-core
